<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= "#{@item[:title]} - " if @item[:title] %>andatche.com</title>
    <meta name="author" content="Ben Arblaster">
    <% if @item[:feed_url] %>
    <link rel="alternate" type="application/rss+xml" title="andatche.com &raquo; Feed" href="<%= "#{@item[:feed_url]}" %>" />
    <% end %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/js/jquery/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/js/google-code-prettify/prettify.js"></script>

    <link rel="shortcut icon" href="/assets/img/favicon.ico">

    <script type="text/javascript">
        var domainroot="andatche.com"

        function Gsitesearch(curobj){
        curobj.q.value="site:"+domainroot+" "+curobj.qfront.value
        }
    </script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-9420806-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body onload="prettyPrint();">
    <div class="container">
