<article class="post">
  <%= yield %>
  <footer class="post-meta jumbotron">
      <div class="tags text-muted">Tagged: <%= tags_for_post @item %></div>
  </footer>
</article>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'andatche';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';                                     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();                                                                                       </script>
